*{
	padding: 0;
	margin: 0 ;
}


body{
	padding: 0;
	margin: 0 auto;
	overflow-x: hidden;
}

/*sección bienvenida y navbar*/

.navbar-default{
	padding: 30px;
	background-color: white;
}

.bienvenida{
	background: url('../img/taxi.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
	
}


.contenido-bienv{
	background-color: #f7b617;
	color: white;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 80px;
}

.titulo-principal{
	font-size: 35px;
}

.linea{
	width: 100px;
}

/*inicio segunda sección*/
.segunda-seccion{
	background-color: #f7b617;
	color: white;
	padding: 70px;
}

/*crear borde que rodee imagen y texto*/
.borde{
	border: 1px solid white;
	padding: 30px;
}


/*tercera sección*/
.tercera-seccion{
	background: url('../img/conduce.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: white;
}

.contenido-segunda-caja{
	background-color: rgba(11, 3, 16,0.4);
	max-width: 120%;
	height: 400px;
}

.titulo-segunda-caja{
	font-size: 35px;
}

.contenido{
	margin-top: 130px;
}


/*cuarta sección*/

.cuarta-seccion{
	background-color: #f7b617;
	color: white;
	height: 600px;
}

.cuarta-seccion-div{
	margin-top: 100px;
}

.form-control{
	background-color: #f7b617;
	border-color: white;
	color: white;
}

.mapa{
	margin-top: 100px;
	height: 400px;
	width: 500px
}

@media (max-width:425px){
	.mapa{
		width:150px;
		height: 100px;
	}
}


.caja-mapa{/*intento ponerle borde al mapa pero no resulta, aparece borde y no caja
	por eso borré el div que contenía esta clase, y la dejo acá para justificar que lo intenté*/
	border: 1px solid white;
	height: 450px;
	width: 450px
}



/*cambio color placeholder con bootstrap*/
.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }


/*footer*/

.footer{
	background-color: #2b2b2b;
	padding: 50px;
}

ul li{
	color: white;
	cursor: pointer;
	list-style: none;
}

.texto-final{
	color: white;
}

.img-empresa{
	width: 60%;
	margin-top: 100px;
}

.redes-soc{
	margin-top: 300px;
	color: white;
}

.redes-soc-dos{
	color: white;
}

/*saqué todos los padding y los reemplacé por width y height y responsive se maneja super bien*/
